* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 300vh;
  overflow: hidden;
}

:root {
  --circle: 200px;
  --top: 150px;
  --black: #000;
  --blue: rgb(18, 18, 223);
  --darkyellow: rgba(229, 223, 87, 0.3);
  --white: #fff;
  --100px: 100px;
}

#flower {
  width: var(--100px);
  height: var(--100px);
  position: absolute;
  left: 60px;
  top: 200px;
}

@mixin display {
  display: flex;
  align-content: center;
  justify-content: center;

}

.group1 {
  width: var(--100px);
  height: 150px;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 3;

  &>p {
    font-size: 2rem;
    position: relative;
    z-index: 2;
    font-weight: 500;
    color: #fff;
    top: 90px;
    left: 35px;
  }

  &:hover {
    visibility: hidden;

    li {
      opacity: 10%;
    }

    .top {
      cursor: pointer;
      width: 130px;
      height: 150px;
      visibility: visible;
      background: linear-gradient(180deg, #686FFD 0%, rgba(234, 157, 236, 0.708333) 29.17%, rgba(248, 208, 67, 0.776042) 57.29%, rgba(241, 167, 63, 0) 79.07%, rgba(104, 111, 253, 0.427083) 79.07%);
      border: none;
      color: #fff;
    }
  }

  .top {
    border-radius: var(--100px);
    border: 1px solid var(--black);
    text-align: center;
    visibility: hidden;
    opacity: 1;
    color: #111;
    font-size: 2rem;

  }

  &>li {
    background: linear-gradient(180deg, #686FFD 0%, rgba(234, 157, 236, 0.708333) 29.17%, rgba(248, 208, 67, 0.776042) 57.29%, rgba(241, 167, 63, 0) 79.07%, rgba(104, 111, 253, 0.427083) 79.07%);
    width: var(--top);
    height: 50px;
    opacity: 50%;
    border-radius: 122px;
    list-style: none;
    position: absolute;
  }
}

.list {
  width: var(--circle);
  height: var(--circle);
  border-radius: var(--100px);
  position: fixed;
  top: -30px;
  left: -40px;
  cursor: pointer;
  font-size: 2rem;
  background: linear-gradient(-45deg, #686FFD, #f1a73f, #686FFD, #f1a73f);
  background-position: 0 10%;
  color: #fff;
  border: 1px solid #fff;

 

}


.circle {
  width: var(--100px);
  height: var(--100px);
  border-radius: 50px;
  position: fixed;
  cursor: pointer;
  text-align: center;
  line-height: 5.5;
  color: var(--white);
  border-color: var(--blue);
  color: var(--black);

  border: 1px solid rgb(142, 107, 238);
  ;

  &:hover {
    background-color: rgb(142, 107, 238);
    color: var(--white);

  }


}


.web {
  top: 0;
  left: 200px;
}

.logo {
  top: 140px;
  left: 160px;
}

.illust {
  left: 20px;
  top: 180px;
}

.on {
  display: block;
  animation: circleopen 1.5s;

}

.off {
  display: none;
}

@keyframes circleopen {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

section {
  position: relative;
  border: 1px solid black;
  width: 80vw;
  height: 100vh;
}

main {
  position: absolute;
  right: 0;
  top: 0;
}

