* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin array {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin trans{
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  overflow: hidden;

}
@mixin frame {
  width: 15vw;
  position: relative;
  right: 10vw; top: -10vw;
  &:active{
    width: 18vw;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include array();

 

}

.design, .about, .libarary{
  overflow: none;
}

section{
  width: 50%;
  height: inherit;
  transform-style: preserve-3d;
  transform: perspective(80rem);

  @include array();
}

.left_section{
  @include trans();
  background-color: #C5A18D;


}

.right_section{
  @include trans();
  background-color: #EDD189;
  display: flex;
  align-items: center;
  justify-content: right;

&>img:nth-child(1){
@include frame();
}


&>img:nth-child(2){
@include frame();

}

&>a>p{
  position: absolute;
  font-size: 3rem;
  right: 0vw; bottom: 0vw;
  padding: 0 4vw 2vw 1vw; 
}
}

.about{
  width: 40%;
  height: 96.5%;
  position: relative;
  z-index: 2;
  background-color:#FBECF8;;
  display: none;
}

.enter{
  width: 10vw;
  height: 10vh;
  border-radius: 30px;
  background-color: #fff;
  border: none;
  text-align: center;
  font-size: 2vw;
  position: absolute;
  top: 50%; left: 45%;
  z-index: 2;
  cursor: pointer;

  display: block;
  &:active{
    background: #fff;
box-shadow: inset 30px 4px 4px rgba(0, 0, 0, 0.25);
  }
}



.door {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.door-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.door:hover .door-inner {
  transform: rotateY(180deg);
}

.door-front, .door-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.door-front>img{
  position: relative;
  bottom: -60px;
  left: 8vw;
}


.door-back {
  width: 30vw;
  height: 100vh;
  
  position: relative;
  right: 200px;
  background-color: #fff;
  transform: rotateY(180deg);
  cursor: pointer;
}




@media (max-width: 500px){
  .right_section,.left_section{
    border: none;
    transform: none;
  }
}

