* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin array {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin trans{
  width: 100%;
  height: 100%;
  border: 1px solid black;

  transform-style: preserve-3d;
  overflow: hidden;

}


#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include array();

}

section{
  width: 33.3%;
  height: inherit;
  border: 1px solid black;
  transform-style: preserve-3d;
  transform: perspective(80rem);

  @include array();
}

.left_section{
  @include trans();
  transform: rotateY(15deg);
  transform-origin: 500px;
}

.right_section{
  @include trans();
  transform: rotateY(-15deg);
  transform-origin: 120px;
}

.about{
  width: 40%;
  position: relative;
  z-index: 2;
}