*{margin: 0; padding: 0; box-sizing: border-box;}
:root{ 
  // color value 
  --color-black : #000;
  --color-white : #fff;
  --color-gray : #3f3d3d;


  --border-radius : 30px;
  --hundred-percent: 100% }
  
  @mixin array{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#root{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  overflow: hidden;
}

//menu 바 
.menu-bar{
  width: inherit;
  height: 80px;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  @include array();
  &>ul{
    width: 50%;
    height: 80%;
    border: 1px solid var(--color-black);
  }
  }


.side-btn{
  @include array();
  list-style: none;
  border-radius:var(--border-radius);

  background: var(--color-black);
  position: relative; right: -150px;
  &>li{
    width: 10vw;
    height: 70%;
    @include array();
    color: var(--color-white);
   
    // 사이드 버튼 메뉴 선택 시 변형 
    &:hover{
    background : var(--color-white);border-radius: 20px;
    color: var(--color-black);
    }

  }}

  //다크모드 객체 
  .dark-mode {
    width: var(--hundred-percent);
    height: var(--hundred-percent);
    
    @include array();
    position: relative;
    left: -350px;
    &>button{
      width: 10vw;
      height: inherit;
      border: 1px solid var(--color-white);
      background-color: var(--color-black);
      border-radius: var(--border-radius);
    cursor: pointer;

      &:hover{
        background-color: var(--color-white);
        &>i{
          color: var(--color-black)
        }
      }
      &>i{
        color: var(--color-white);
      }
    }
  }

// 전체 화면 모바일을 위해 세 달락으로 나누기 

.section{
  width: 100vw;
  height: 100vh;
  @include array();
  &>div{
    height: inherit;
  }


  &>div:nth-child(1){
    position: relative;
    width: 20%;


    // join me 이미지 호버 효과 적용 
    &>img{
      position: fixed;
      width: 20vw;
      top: 250px;
      &:hover{
        width: 23vw;
        cursor: pointer;
      }
    }
  }
  &>div:nth-child(2){
    width:60%;
  }
  &>div:nth-child(3){
    width: 20%;
    @include array();
  }

}

.sign{
  width: 15vw;
  height: 40px;
  position: absolute;
  top: 65vh; left: 3vw;
  border-radius:var(--border-radius);

}



// 가운데 센터 소개글 
.introduce{
  width: var(--hundred-percent);
  height: 450px;
  @include array();
  &>div:nth-child(1){
    width: 40%;
    height: var(--hundred-percent);




    // 프로필 이미지 조정 
    &>img{
      width: var(--hundred-percent);
      height: var(--hundred-percent);

    }
  }
  &>div:nth-child(2){
    width: 60%;
    height: var(--hundred-percent);
  }
}

//중앙 하단 포트폴리오
.portfolio-section{
  width: var(--hundred-percent);
  height: var(--hundred-percent);}


  .wave-img{
    width: var(--hundred-percent);
    height: var(--hundred-percent);
    position: relative;
    &>img{
      width: 105%;
      z-index: 1;

  }
  }

  .portfolio-circle{
    width: 60%;
    height: 130px;
    z-index: 2;
    position: absolute;
    top: 600px;
    @include array();
    &>div{
      width: calc(100%/1);
      height: var(--hundred-percent);
      border: 1px solid white;
      margin-left: 100px;
      border-radius: 60px;
    }

  }

.side-section{
  width: 80%;
  height: 70%;
  border-radius:var(--border-radius);

  box-shadow: 10px 4px 4px 0 #7a6c6c;
  margin-bottom: 100px;
  background-color: var(--color-white);
  animation: slashbox 3s infinite;
  position: relative;
  &>div{
    margin: 25px 30px 10px 30px;
    width: 80%;
    height: calc(100%/10);
    border: 1px solid black;
    border-radius:var(--border-radius);

  }
}



// 테블릿 화면 시 이동 조정 

@media (max-width: 1050px) {
  //다크모드 선택자 모바일 화면시 비율조정 
  
    .dark-mode{
      position: relative;
      left: -80px;

    }
      


  // 세 달락으로 나눴던 것을 하나만 남겨둠 
  .section{
    &>div:nth-child(1){
      display: none;
    }
    &>div:nth-child(2){
      width: var(--hundred-percent);
    }
    &>div:nth-child(3){
      display: none;
    }
  }

  .portfolio-section{
    &>div>img{
      position: absolute;
      bottom: 0;
      left: 0;

    }
  }
    }

// 모바일 버전 이동 조정 
@media (max-width: 750px) {
  //다크모드 선택자 모바일 화면시 비율조정 
  
    .dark-mode{
      position: relative;
      left: -80px;

    }
      


  // 세 달락으로 나눴던 것을 하나만 남겨둠 
  .section{
    &>div:nth-child(1){
      display: none;
    }
    &>div:nth-child(2){
      width: var(--hundred-percent);
    }
    &>div:nth-child(3){
      display: none;
    }
  }

  .portfolio-section{
    &>div>img{
      position: absolute;
      bottom: 0;
      left: 0;

    }
  }
    }




//세번째 사이드 박스 에니메이션 
@keyframes slashbox {
  0%{ top: 0px;}
  50%{top: 20px;}
  100%{top: -20px;}
}