* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin display {

  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100vw;
  height: 150vh;
}

header {
  width: inherit;
  height: 90px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  background-color: #fff;

  &>ul {
    width: 23vw;
    height: inherit;
    list-style: none;
    @include display();

    &>li:nth-child(1) {
      width: 20%;
      height: 100%;
      border: 1px solid black;
      @include display();
    }

    &>li:nth-child(2) {
      width: 80%;
      height: 100%;
      @include display();

      &>img {
        width: inherit;
        height: 60%;
        cursor: pointer;
      }
    }
  }
}

.upper-Box {
  width: 30vw;
  height: 100%;
  @include display();

  &>ul {
    width: 100%;
    height: 100%;
    @include display();

    &>li {
      @include display();
      width: 20%;
      height: 40%;
      border-right: 1px solid #d4d4d4;
    }
  }
}

.slide {
  width: 15.2%;
  height: 91vh;
  position: fixed;
  top: 90px;

  &>ul {
    width: 100%;
    height: 100%;

    &>li {
      border-bottom: 1px dotted #ddd;
      @include display();
      width: 100%;
      height: 10%;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      }

      &:active {
        box-shadow: inset 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      }
    }

  }
}
