@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 150vh;
}

header {
  border: 1px solid #ddd;
  width: inherit;
  height: 90px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  background-color: #fff;
}
header > ul {
  width: 23vw;
  height: inherit;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > ul > li:nth-child(1) {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > ul > li:nth-child(1) > img {
  width: inherit;
  height: 60%;
  cursor: pointer;
}

/**상단 로그인 박스**/
.upper-Box {
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper-Box > ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper-Box > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40%;
  border-right: 1px solid #d4d4d4;
  cursor: pointer;
}

/**왼쪽 고정 박스**/
.slide {
  width: 15.2%;
  height: 91vh;
  position: fixed;
  top: 90px;
}
.slide > ul {
  width: 100%;
  height: 100%;
}
.slide > ul > li {
  border-bottom: 1px dotted #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  cursor: pointer;
}
.slide > ul > li:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.slide > ul > li:active {
  box-shadow: inset 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/** 광고 페이지**/
main {
  position: absolute;
  width: 85.5%;
  height: 60vh;
  background-color: #ddd;
  top: 90px;
  left: 15vw;
}
main > div {
  width: inherit;
  height: 70%;
}
main > section {
  width: 100%;
  height: 30%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
main > section > div {
  width: 33.3%;
  height: 100%;
  border: 1px solid black;
}

/** 광고 제외 전체 페이지**/
.part {
  width: 85vw;
  height: 300vh;
  position: absolute;
  top: 70vh;
  left: 15vw;
}
.part > div {
  width: inherit;
  height: 20%;
  margin-top: 30px;
}

.brand {
  background-color: #fff;
  font-size: 1.5rem;
}
.brand > div > div {
  border: 1px dotted #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.brand > div > div:hover {
  border: 1px solid #fceac8;
  box-shadow: 1rem 1rem 1rem #fceac8;
}
.brand > div > div:active {
  background-color: #fff;
  box-shadow: inset 2rem 2rem 5rem #fceac8;
}

.routine > h3 {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 2em;
}
.routine > div {
  width: inherit;
  height: 83.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.routine > div > div {
  width: 50%;
  height: inherit;
}

.img-section {
  width: 100%;
  height: 50%;
}
.img-section > img {
  width: 100%;
  height: 100%;
}

.care {
  width: 100%;
  height: 50%;
}

.health > h3 {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 2em;
}
.health > div {
  cursor: pointer;
  width: inherit;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.health > div > div {
  width: 33.3%;
  height: 100%;
  text-align: center;
  line-height: 7;
  font-size: 1.5rem;
}
.health > div > div > img {
  width: 100%;
  height: 100%;
}

.skin-type > h3 {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 2em;
}
.skin-type > div {
  width: 100%;
  height: 55.3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skin-type > div > div {
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.type > div {
  width: 100%;
  height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type > div:nth-child(1) > div {
  width: 12vw;
  height: 100%;
  border-radius: 100px 100px 0px 0px;
  border: 10px solid #000;
}
.type > div:nth-child(1) > div:hover {
  background-color: #000;
}
.type > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.type > div:nth-child(2) > div:nth-child(1) {
  width: 13vw;
  transform: matrix(0, 1, 1, 0, 0, 0);
  height: 100%;
  border-radius: 100px 100px 0px 0px;
  border: 10px solid #000;
}
.type > div:nth-child(2) > div:nth-child(1):hover {
  background-color: #000;
}
.type > div:nth-child(2) > div:nth-child(1) > p {
  transform: matrix(0, 1, 1, 0, 0, 0);
}
.type > div:nth-child(2) > div:nth-child(2) {
  width: 13vw;
  transform: rotate(89.81deg);
  height: 100%;
  border-radius: 100px 100px 0px 0px;
  border: 10px solid #000;
}
.type > div:nth-child(2) > div:nth-child(2):hover {
  background-color: #000;
}
.type > div:nth-child(2) > div:nth-child(2) > p {
  transform: rotate(89.81deg);
}
.type > div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.type > div:nth-child(3) > div {
  width: 13vw;
  height: 100%;
  border-radius: 100px 100px 0px 0px;
  border: 10px solid #000;
  transform: rotate(-180deg);
}
.type > div:nth-child(3) > div:hover {
  background-color: #000;
}
.type > div:nth-child(3) > div > p {
  transform: rotate(-180deg);
}/*# sourceMappingURL=index.css.map */