*{margin: 0; padding: 0; box-sizing: border-box;}

@mixin display{
    
  display: flex;
  align-content: center;
  justify-content: center;
}

#root{
  width: 100vw;
  height: 100vh;
}

header{
  width: inherit;
  height: 90px;
  border: 1px solid #000;

  display: flex;
  justify-content: space-between;

  &>ul{
    width: 15vw;
    height: inherit;
    border: 1px solid black;
    @include display();
    list-style: none;
  }
}

main{
  width: inherit;
  height: 90vh;
  @include display();


  &>section{
    width: 33.3%;
    height: inherit;
    border: 1px solid black;
  }
}



