* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --maincolor: #9BCE26;
  --brandColor: #fceac8;
  --gray: #ddd;
}

@mixin display {

  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin h3-style {
  width: 100%;
  height: 60px;
  text-align: center;

  font-size: 2em;
}

@mixin hundred {
  width: 100%;
  height: 100%;
}


@mixin radius {
  background-color: #000;
  height: 100%;
  border-radius: 100px 100px 0px 0px;
  border: 10px solid #000;
  color: #fff;

  @include display();

  &:hover {
    cursor: pointer;
    border-color: rgb(255, 255, 255);
  }
}


#root {
  width: 100vw;
  height: 160vh;
}



header {
  border: 1px solid var(--gray);
  width: inherit;
  height: 90px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  background-color: #fff;

  &>ul {
    width: 23vw;
    height: inherit;
    list-style: none;
    @include display();



    &>li:nth-child(1) {
      width: 80%;
      height: 100%;
      @include display();

      &>img {
        width: inherit;
        height: 60%;
        cursor: pointer;
      }
    }
  }
}


/**상단 로그인 박스**/
.upper-Box {
  width: 30vw;
  height: 100%;
  @include display();

  &>ul {
    @include hundred();
    @include display();

    &>li {
      @include display();
      width: 20%;
      height: 40%;
      border-right: 1px solid #d4d4d4;
      cursor: pointer;
      color: #999;
      font-size: 0.8rem;
    }
  }
}

/**왼쪽 고정 박스**/

.slide {
  width: 15.2%;
  height: 91vh;
  position: fixed;
  top: 90px;

  &>ul {
    @include hundred();

    &>li {
      border-bottom: 1px dotted var(--gray);
      @include display();
      width: 100%;
      height: 10%;
      cursor: pointer;

      &>ul {
        display: none;
      }

      &:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        &>ul {
          display: block;
          position: absolute;
          left: 200px;

          &>li {
            width: 200px;
            list-style: none;
            display: block;
            margin-bottom: 5px;

            &:hover {
              color: var(--maincolor);
            }

          }
        }
      }

      &:active {
        box-shadow: inset 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      }
    }
  }
}

/** 광고 페이지**/

main {
  position: absolute;
  width: 85.5%;
  height: 60vh;
  background-color: var(--gray);
  top: 90px;
  left: 15vw;

  &>div {
    width: inherit;
    height: 70%;
  }

  &>section {
    width: 100%;
    height: 30%;
    border: 1px solid black;
    @include display();

    &>div {
      width: 33.3%;
      height: 100%;
      border: 1px solid black;
    }
  }
}

/** 광고 제외 전체 페이지**/

.part {
  width: 85vw;
  height: 300vh;
  position: absolute;

  top: 70vh;
  left: 15vw;

  &>div {
    width: inherit;
    height: 20%;
    margin-top: 30px;
  }
}

.brand {
  background-color: #fff;
  font-size: 1.5rem;

  &>div {
    &>div {
      border: 1px dotted #ccc;
      @include display();

      &:hover {
        border: 1px solid var(--brandColor);
        box-shadow: 1rem 1rem 1rem var(--brandColor);
      }

      cursor: pointer;

      &:active {
        background-color: #fff;
        box-shadow: inset 2rem 2rem 5rem var(--brandColor);
      }

    }
  }
}


.routine {
  &>h3 {
    @include h3-style();
  }

  &>div {
    width: inherit;
    height: 83.6vh;
    @include display();

    &>div {
      width: 50%;
      height: inherit;
    }
  }
}

.img-section {
  width: 100%;
  height: 50%;

  &>img {
    @include hundred();
  }

}

.care {
  width: 100%;
  height: 50%;
  @include display();

  &>div {
    width: 50%;
    height: 100%;
    @include display();

    &>img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }
}

.health {
  &>h3 {
    @include h3-style();
  }

  &>div {
    cursor: pointer;
    width: inherit;
    height: 45%;
    @include display();

    &>div {
      width: 33.3%;
      height: 100%;
      text-align: center;
      line-height: 4;
      font-size: 1.3rem;

      &>img {
        @include hundred();
      }
    }
  }

}

.skin-type {
  &>h3 {
    @include h3-style();
  }

  &>div {
    width: 100%;
    height: 55.3vh;
    @include display();

    &>div {
      width: 50%;
      height: 100%;
      border: 1px solid black;

    }
  }
}

.type>div {
  width: 100%;
  height: 33.3%;
  @include display();

  &:nth-child(1) {
    &>div {
      width: 12vw;
      @include radius();

    }
  }

  &:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &>div:nth-child(1) {
      width: 13vw;
      transform: matrix(0, 1, 1, 0, 0, 0);
      @include radius();

      &>p {
        transform: matrix(0, 1, 1, 0, 0, 0);

      }
    }

    &>div:nth-child(2) {
      width: 13vw;
      transform: rotate(89.81deg);
      @include radius();

      &>p {
        transform: rotate(270.81deg);

      }
    }
  }

  &:nth-child(3) {
    @include display();

    &>div {
      width: 13vw;
      @include radius();
      transform: rotate(-180deg);

      &>p {
        transform: rotate(-180deg);
      }
    }
  }
}


.notice-area {
  @include display();
  border-top: 3px solid black;

}

.notice {
  width: 65%;
  height: 100%;
  border-bottom: 1px solid #666;

}

.notice-new {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #666;
  @include display();

  &>h4 {
    width: 20%;
    text-align: center;

  }

  &>p {
    width: 50%;
    text-align: center;
    color: #666;
  }

  &>a {
    width: 20%;
    text-decoration: none;
    color: #666;
  }
}

.app {
  width: 35%;
  height: 100%;

  &>img {
    @include hundred();
  }
}

.notice-phone {
  width: 100%;
  height: 80%;
  @include display();

  &>h4 {
    width: 20%;
  }

  &>ul {
    list-style: none;
    ;
    width: 30%;

    &>li {
      text-align: center;
      margin-bottom: 10px;

      &>strong {
        line-height: 1.7;
        letter-spacing: 6px;
      }
    }
  }

  ;
}

.online_info {
  width: 40%;

  &>p {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  &>button {
    height: 3vh;
    width: 10vw;
    background-color: #ccc;
    color: #fff;
    border: none;
    text-align: center;
    cursor: pointer;
  }
}

.type-sort {
  @include hundred();

  &>div {
    position: absolute;
    width: 100%;
    height: 18.36%;
    background-color: #fff;
    visibility: hidden;
  }
}

.on {
  visibility: visible;
}