* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #ddd;
  --relative: relative;
  --white: #fff;
}

@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin menu_bar {
  width: 70px;
  position: relative;
  transition-duration: 1.2s;

}

#root {
  width: 100vw;
  height: 100vh;
      &>nav {
        width: 0;
        height: 100%;
        background-color: var(--black);
        &:hover {
          width: 20vh;
          transition-duration: 2s;


        &>ul {
          display: block;
          position: var(--relative);
          top: 30px;
          left: 20px;

          &>li {
            background-color: var(--white);

            &:nth-child(1) {
              @include menu_bar();
              transform: rotate(90deg);
              top: 60px;
              left: 28px;
            }

            &:nth-child(2) {
              @include menu_bar();
              transform: rotate(45deg);
              left: 5px;
              top: 50px;
            }

            &:nth-child(3) {
              @include menu_bar();

              transform: rotate(-45deg);
              left: 53px;
              top: 25px;
              ;
            }
          }
        }


      }




      &>ul {
        width: 150px;
        height: inherit;
        list-style: none;

        &>li {

          width: 60px;
          height: 10px;
          border-radius: 20px;

          background-color: var(--black);
          position: relative;
          top: 50px;
          left: 30px;
          margin-bottom: 10px;

        }

      }
    }
}