@media(max-width:800px) {
  #root {
    &>nav {
      width: 15vw;
      background-color: #fff;
      &:hover{
        .menu-select{
          display: block;
        }
      }

    }

  }
  .menu-select {
    height: 10%;
    display: none;

  }
.menubar{
  display: block;
  position: relative;
  left: 20px;

}
}

