* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #ddd;
  --relative: relative;
  --white: #fff;
  --darkgray: #888;
}

@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin menu_bar {
  width: 40px;
  position: relative;
  transition-duration: 1.2s;
}

#root {
  width: 100vw;
  height: 100vh;

  &>nav {
    position: fixed;
    right: 0;
    width: 10vw;
    height: 100vh;
    background-color: var(--white);

    &:hover {
      width: 15vw;
      height: inherit;
      transition-duration: 2s;


      &>ol {
        width: inherit;
        height: 100px;
        display: block;
        position: var(--relative);
        top: 30px;
        left: 20px;
        margin-bottom: 15px;


        &>li {
          background-color: var(--black);

          &:nth-child(1) {
            @include menu_bar();
            transform: rotate(90deg);
            top: 50px;
            left: 70px;
          }

          &:nth-child(2) {
            @include menu_bar();
            transform: rotate(45deg);
            left: 59px;
            top: 38px;
          }

          &:nth-child(3) {
            @include menu_bar();

            transform: rotate(-45deg);
            left: 82px;
            top: 18px;
            ;
          }
        }
      }

    }




    &>ol {
      width: 100px;
      height: 100px;
      margin-bottom: 15px;
      list-style: none;

      &>li {

        width: 60px;
        height: 10px;
        border-radius: 10px;
        background-color: var(--black);
        position: relative;
        top: 50px;
        right: -50px;
        margin-bottom: 10px;

      }

    }

    &>ul {
      width: 100%;
      height: 600px;
      position: relative;
      top: 35px;

      &>a {
        text-decoration: none;

        &:hover {
          color: var(--black);


        }

        color: var(--darkgray);

        &>li {
          border-radius: 10px;
          &:active{
            box-shadow: inset 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          }
          @include display();
          list-style: none;
          width: inherit;
          height: calc(600px/6);
          border: 1px dotted var(--darkgray);

          &:hover {
            border: 1px solid var(--black)
          }

          &>i {
            @include display();

            &>p {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}