@media (max-width:500px) {
  #root{
    :root{
      --white :#fff;
    }
    &>nav{
      width: 15vw;
      &>ul{
        display: none;
        &:hover{
          #root>nav>ul{
            display: block;
          }
        }

        &>li{
          width: 20px;
          background-color: var(--white);
        }
      }
    }
  }

}