* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin array {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin icon {
  position: absolute;
  top: 70px;
  color: #000;

}

@mixin h2-style {
  @include h2-style();
}

body {
  position: absolute;
  left: 25%;
}

:root {
  --yellow: #FFE500;
  --100: 100%;
}

@mixin button {
  width: 100px;
  height: 50px;
  margin-left: 10px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

#root {
  width: 50vw;
  height: 300vh;
  overflow: hidden;

  /*로고 창*/
  &>header {
    width: inherit;
    height: 120px;
    position: fixed;
    background-color: #fff;
    z-index: 2;

    @include array();

    &>a>img {
      width: 100px;
    }
  }

}

.profile {
  right: 5vw;
  @include icon();
}

.bucket {
  width: 35px;
  right: 8vw;
  @include icon();
}



/* 회원가입 말풍선 */

.sign {
  position: absolute;
  width: 80px;
  height: 30px;
  right: 3vw;
  top: 115px;
  background-color: #000;
  border-radius: 5px;
  padding: 12px 12.8px;
  transform: rotate(180deg);
  border: 1px solid #FFF;
  animation: 1s signup;
  animation-iteration-count: 4;

  &>p {
    transform: rotate(180deg);
    position: absolute;
    font-size: 0.6vw;
    color: white;
    top: 7px;
    right: 15px;
  }
}


.sign:after {
  border-top: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  top: 28px;
  right: 18px;
}

/*말풍선 애니메이션*/


@keyframes signup {
  60% {
    top: 120px;
  }
}

/* 바탕*/

.menu {
  width: 50vw;
  height: 7vh;
  background-color: #000;
  z-index: 1;
  position: fixed;
  top: 120px;

  @include array();

  &:hover {
    background-color: #fff;
    border-bottom: 1px solid #000;
    z-index: 2;
  }
}

/* 버튼*/
.menubtn {
  width: 33.3%;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  position: sticky;
}

/* a link*/

.link {
  width: 50vw;
  height: 10vh;
  display: none;
  position: absolute;
  top: 50px;
  left: 60px;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;

  &>a {
    width: 10vw;
    height: inherit;
    text-decoration-line: none;
    color: #000;
    z-index: 1;
    text-align: center;
    @include array();

    &:hover {
      background-color: #000;
      color: #fff;
      z-index: 1;
      justify-content: left;

    }
  }

}

.menu:hover .link {
  width: 80%;
  height: var(--100);
  @include array();
  z-index: 1;
}

.menu:hover .menubtn {
  background-color: #fff;
  color: #000;
  border: none;
  z-index: 1;
}

// 광고

.ppl {
  width: 50vw;
  height: 50vh;
  background-color: #58B3DB;

  &>img {
    width: var(--100);
    height: 135%;
    object-fit: contain;
  }
}

//section

section {
  width: var(--100);
  height: 50vh;
  margin-top: 20px;
  border: 1px dotted #888;

  &>h2 {
    width: inherit;
    text-align: center;
    height: 10%;
  }
}



.personal-test {
  position: fixed;
  top: 600px;
  left: 50px;
  width: 130px;
  height: 130px;
  border-radius: 90px;
  background-color: #fff;
  z-index: 2;

  &>button {
    appearance: none;
    background-color: transparent;
    border: none;
    position: fixed;
    left: 50px;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    z-index: 2;
  }

}




.add {
  width: inherit;
  height: 40vw;
  margin-top: 130px;

}

.best {
  width: var(--100);
  height: 90%;
}

.main-section {
  width: var(--100);
  height: 90%;
  @include array();


  &>img {
    width: calc(var(--100)/3);
    height: var(--100);
    ;
    cursor: pointer;
  }

}

.best-group {
  width: var(--100);
  ;
  height: var(--100);
  ;
  @include array();

  &>div {
    width: calc(100vw/2);
    height: inherit;

    &>p {
      font-size: 30px;
      font-weight: 400;
      position: relative;
      left: 70px;
      bottom: 13px;
    }

    &>span {
      position: relative;
      right: 220px;
    }
  }

}

.black_cushion {
  position: relative;
  left: 200px;
}

@mixin plus {
  width: 100px;
  height: 40px;
  position: relative;
  cursor: pointer;
  @include array();

}

.plus {
  @include plus();
  left: 378px;

  &>div {
    width: calc(150px/2);
    height: var(--100);
    @include array();
    border-bottom: none;

    &>img {
      width: 20px;
    }
  }
}

.plus-extra {
  @include plus();
  left: 70px;
  top: 22px;

  &>div {
    border-bottom: none;
    width: calc(100px/2);
    height: var(--100);
    @include array();
  }
}

.best2 {
  position: relative;
  left: 70px;
  bottom: 50px;
}

.best3 {
  position: relative;
  left: 70px;
  bottom: 50px;
}

.best-extra>div {
  height: 50%;
  @include array();

  &>div {
    width: 50%;
    height: var(--100);

    &:nth-child(2) {
      @include array();
      text-align: center;
    }

    &>img {
      position: relative;
      top: 10px;
    }

    &>p {
      font-size: 30px;
      position: relative;
      bottom: 35px;
      left: 20px;
    }
  }
}

.group2 {
  width: var(--100);
  height: var(--100);
  flex-direction: column;

  &>div {
    width: var(--100);
    height: 50%;
    @include array();

  }

}

.best-number {
  position: relative;
  top: 30px;
  left: 50px;
}

.new {
  width: var(--100);
  height: var(--100);
  @include array();

  &>div {
    width: calc(var(--100)/4);
    height: inherit;

    &>div {
      flex-direction: column;
      width: var(--100);
      height: 50%;
      text-align: center;

      &>img {
        width: 300px;
        height: 130px;
        margin-top: 20px;
        object-fit: contain;
      }

      &>div {
        width: var(--100);
        height: 50%;
        @include array();
      }
    }
  }
}

.sample>div {
  width: var(--100);
  height: 50%;
  margin-top: 30px;
  @include array();

  &>button {
    @include button();
  }
}

.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 360px solid #666666;
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
}

.on {
  display: none;
}

.harmony-entire {
  width: var(--100);
  height: var(--100);
  @include array();

  &>div {
    width: 50%;
    height: inherit;
    @include array();
    background-color: #000;
  }
}


#slide {
  width: 80%;
  height: 80%;
  overflow: hidden;
  position: relative;

  &>ul {
    width: var(--100);
    height: var(--100);
    list-style-type: none;
    position: absolute;

    &>li {
      width: var(--100);
      height: var(--100);

      &>a {
        width: var(--100);
        height: var(--100);

        &>img {
          width: var(--100);
          height: 115%;
          object-fit: cover;
        }
      }

    }
  }
}




#slide2 {
  width: 80%;
  height: 80%;
  overflow: hidden;
  position: relative;

  &>ul {
    width: var(--100);
    height: var(--100);
    list-style-type: none;
    position: absolute;

    &>li {
      width: var(--100);
      height: var(--100);

      &>a {
        width: var(--100);
        height: var(--100);

        &>img {
          width: var(--100);
          height: var(--100);
        }
      }

    }
  }
}


.cosmetic {
  width: 50vw;
  height: var(--100);
  background-color: #FFF;
  @include array();

  &>div {
    width: var(--100);
    height: var(--100);
    flex-direction: column;
    @include array();
    text-align: center;

    &>h4,
    p {
      margin-bottom: 30px;
    }

    &>button {
      @include button();
    }

    &>img {
      width: var(--100);
      height: var(--100);
      object-fit: contain;
    }
  }
}