@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  left: 25%;
}

:root {
  --yellow: #FFE500;
  --100: 100%;
}

#root {
  width: 50vw;
  height: 300vh;
  overflow: hidden;
  /*로고 창*/
}
#root > header {
  width: inherit;
  height: 120px;
  position: fixed;
  background-color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root > header > a > img {
  width: 100px;
}

.profile {
  right: 5vw;
  position: absolute;
  top: 70px;
  color: #000;
}

.bucket {
  width: 35px;
  right: 8vw;
  position: absolute;
  top: 70px;
  color: #000;
}

/* 회원가입 말풍선 */
.sign {
  position: absolute;
  width: 80px;
  height: 30px;
  right: 3vw;
  top: 115px;
  background-color: #000;
  border-radius: 5px;
  padding: 12px 12.8px;
  transform: rotate(180deg);
  border: 1px solid #FFF;
  -webkit-animation: 1s signup;
          animation: 1s signup;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}
.sign > p {
  transform: rotate(180deg);
  position: absolute;
  font-size: 0.6vw;
  color: white;
  top: 7px;
  right: 15px;
}

.sign:after {
  border-top: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  top: 28px;
  right: 18px;
}

/*말풍선 애니메이션*/
@-webkit-keyframes signup {
  60% {
    top: 120px;
  }
}
@keyframes signup {
  60% {
    top: 120px;
  }
}
/* 바탕*/
.menu {
  width: 50vw;
  height: 7vh;
  background-color: #000;
  z-index: 1;
  position: fixed;
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu:hover {
  background-color: #fff;
  border-bottom: 1px solid #000;
  z-index: 2;
}

/* 버튼*/
.menubtn {
  width: 33.3%;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  position: -webkit-sticky;
  position: sticky;
}

/* a link*/
.link {
  width: 50vw;
  height: 10vh;
  display: none;
  position: absolute;
  top: 50px;
  left: 60px;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
.link > a {
  width: 10vw;
  height: inherit;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link > a:hover {
  background-color: #000;
  color: #fff;
  z-index: 1;
  justify-content: left;
}

.menu:hover .link {
  width: 80%;
  height: var(--100);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menu:hover .menubtn {
  background-color: #fff;
  color: #000;
  border: none;
  z-index: 1;
}

.ppl {
  width: 50vw;
  height: 50vh;
  background-color: #58B3DB;
}
.ppl > img {
  width: var(--100);
  height: 135%;
  -o-object-fit: contain;
     object-fit: contain;
}

section {
  width: var(--100);
  height: 40vh;
  border: 1px solid red;
  margin-top: 20px;
}
section > h2 {
  width: inherit;
  text-align: center;
  height: 10%;
}

.personal-test {
  position: fixed;
  top: 600px;
  left: 50px;
  width: 130px;
  height: 130px;
  border-radius: 90px;
  background-color: #fff;
  z-index: 2;
}
.personal-test > button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  position: fixed;
  left: 50px;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  z-index: 2;
}

.add {
  width: inherit;
  height: 40vw;
  margin-top: 130px;
}

.best {
  width: var(--100);
  height: 90%;
}

.main-section {
  width: var(--100);
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section > img {
  width: calc(var(--100) / 3);
  height: var(--100);
  cursor: pointer;
}

.best-group {
  width: var(--100);
  height: var(--100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-group > div {
  width: 50vw;
  height: inherit;
}
.best-group > div > p {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  left: 70px;
  bottom: 13px;
}
.best-group > div > span {
  position: relative;
  right: 220px;
}

.black_cushion {
  position: relative;
  left: 200px;
}

.plus {
  width: 100px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 378px;
}
.plus > div {
  width: 75px;
  height: var(--100);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}
.plus > div > img {
  width: 20px;
}

.plus-extra {
  width: 100px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 70px;
  top: 22px;
}
.plus-extra > div {
  border-bottom: none;
  width: 50px;
  height: var(--100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.best2 {
  position: relative;
  left: 70px;
  bottom: 50px;
}

.best3 {
  position: relative;
  left: 70px;
  bottom: 50px;
}

.best-extra > div {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-extra > div > div {
  width: 50%;
  height: var(--100);
}
.best-extra > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.best-extra > div > div > img {
  position: relative;
  top: 10px;
}
.best-extra > div > div > p {
  font-size: 30px;
  position: relative;
  bottom: 35px;
  left: 20px;
}

.group2 {
  width: var(--100);
  height: var(--100);
  flex-direction: column;
}
.group2 > div {
  width: var(--100);
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-number {
  position: relative;
  top: 30px;
  left: 50px;
}

.new {
  width: var(--100);
  height: var(--100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.new > div {
  width: calc(var(--100) / 4);
  height: inherit;
}
.new > div > div {
  flex-direction: column;
  width: var(--100);
  height: 50%;
  text-align: center;
}
.new > div > div > img {
  width: 300px;
  height: 130px;
  margin-top: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.new > div > div > div {
  width: var(--100);
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sample > div {
  width: var(--100);
  height: 50%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sample > div > button {
  width: 100px;
  height: var(--100);
  border-radius: 50px;
  margin-left: 10px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}

.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 360px solid #666666;
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
}/*# sourceMappingURL=hera.css.map */