
*{margin: 0; padding: 0;}

@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  @include display();
}

#root{
  width: 40vw;
  height: 100vh;
  border: 1px solid black;
}

header{
  width: inherit;
  height: 60px;
  border: 1px solid black;
&>ul{
  width: inherit;
height: inherit;
border: 1px solid black;
@include display();
&>li{
  width: 33.3%;
  height: inherit;
  border: 1px solid black;
}};
}