* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #C4DAF6;
  --color2: #509BF6;
  --color3: #4CBFD9;
  --color4: #F61A9E;
  --color5: #7C50F8;
}

#root {
  width: 100vw;
  height: 250vh;
  background-color: var(--color1);
}

header {
  width: inherit;
  height: 63px;
  background-color: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
header > div {
  width: 40%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > nav {
  width: 60%;
  height: inherit;
}

.menu {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu > li {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu > li > a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.recommand {
  width: inherit;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-recommand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-recommand > div {
  width: 20vw;
  height: 19vw;
  background-color: #fff;
  margin-right: 30px;
}
.first-recommand > div > a {
  width: inherit;
  height: inherit;
}
.first-recommand > div > a > img {
  width: inherit;
  height: inherit;
}

.title {
  width: 100%;
  height: 60px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

.time-part {
  background-color: var(--color2);
  width: 30%;
  height: inherit;
  font-size: 2vw;
}

.timer,
.time-img {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vw;
  color: #fff;
}
.timer > img,
.time-img > img {
  position: relative;
  top: 100px;
  width: 60%;
  -webkit-animation: clock 3s;
          animation: clock 3s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
.timer > h1,
.time-img > h1 {
  width: 100%;
  font-size: 1vw;
  border: 1px solid black;
  color: #FFF;
}

.food {
  width: 70%;
  height: inherit;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.food > a {
  width: 35vw;
  height: 30vh;
  border-radius: 60px;
  margin-right: 10px;
}
.food > a:nth-child(1) {
  margin-left: 10px;
}
.food > a > img {
  width: 100%;
  height: inherit;
  border-radius: 60px;
}

@-webkit-keyframes clock {
  30% {
    transform: rotate(-30deg);
  }
  65% {
    transform: rotate(30deg);
  }
}

@keyframes clock {
  30% {
    transform: rotate(-30deg);
  }
  65% {
    transform: rotate(30deg);
  }
}
.choice {
  width: 15%;
  height: 100%;
}
.choice > li {
  width: 100%;
  height: 12.5%;
  background-color: #4CBFD9;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.choice > li:hover {
  border: 1px solid #fff;
}

.categorize {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.food-section {
  width: 85%;
  height: 100%;
  position: relative;
  top: 75px;
  background-color: #fff;
}/*# sourceMappingURL=index.css.map */